.experience-container{
    margin: 4rem 0;
    position: relative;
}

.experience-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.arrow-right, .arrow-left{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    background: #130f2a;
    position: absolute;
    top: 46%;
    z-index: 2;
    cursor: pointer;
}

.arrow-left span svg, .arrow-right span svg{
    font-weight: 500;
    margin-top: 6px;
}

.arrow-left{
    right: -2rem;
}
.arrow-right{
    left: -2rem;
}


@media (max-width: 1025px){
    .arrow-left{
        right: 0rem;
    }
    .arrow-right{
        left: 0rem;
    }
}

@media (max-width: 768px){
    .experience-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .arrow-left{
        right: -1rem;
    }
    .arrow-right{
        left: -1rem;
    }
}